@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* Dashboard */
.dashboard-container {
  margin: 10px;
}

.logo-searchbar-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
}


.logo {
  width: 100px;

}

.search-bar {
  flex: 1;
}


#item-button {
  width: 30px;
  height: 30px;
}

.item-button-container {
  width: 50px;
}

/* .avatar {
  width: 50px;
  height: 50px;
} */

.avatar-container {
  width: 50px;
}

#item-modal {
  max-width: 90vw;
}